.btn{
	display: inline-block;
}


input[type=text],textarea{-webkit-appearance: none; -moz-appearance: none; appearance: none; }

/*.input{
	border-top: 1px solid #000;
	height: 35px;
	border-radius: 0 !important;
	width: 100%;
	display: block;
	font-size: 15px;
	padding: 0 20px;
	background: #f8f7f7;
}

textarea.input{
	resize: none;
	height: 117px;
	padding: 10px;
}*/
