//ПЕРЕМЕННЫЕ>

//РАЗМЕРЫ СЕТКИ

$minwidth:320px;
$mw:1170 + 30 + px;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

//РАЗМЕРЫ СЕТКИ

//ПЕРЕМЕННЫЕ ПО УМОЛЧАНИЮ

:root {
    -var--color-light: #fff;
    -var--color-black: #000;
    -var--transition-time: 0.3s;
}

//ПЕРЕМЕННЫЕ ПО УМОЛЧАНИЮ

//</ПЕРЕМЕННЫЕ>